<nz-page-header nzBackIcon (nzBack)="onBack()" [nzGhost]="false">
  <nz-page-header-title>{{title}} User</nz-page-header-title>
</nz-page-header>
<nz-card class="ant-card-custom" [nzBordered]="false">
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">
 
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="employeename" nzRequired> Employee Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your employee_name!">
      <input nz-input type="text" id="employeename" formControlName="employee_name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired> Employee Code</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Employee Code!">
      <input nz-input type="text" id="title" formControlName="employee_code" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>User Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your user_name!">
      <input nz-input type="text" id="username" formControlName="user_name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
      <input nz-input type="password" id="password" formControlName="password" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="mobileNo"> Mobile No</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="number" formControlName="mobile" id="mobileNo" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>User Role</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Select a Role">
      <nz-select formControlName="user_role" nzPlaceHolder="Select a Role" [ngModelOptions]="{ standalone: true }">
        <nz-option
						*ngFor="let option of userRole"
						[nzValue]="option.roldid"
						[nzLabel]="option.rolename"
					></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" >Reporting to</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="reporting_to" nzPlaceHolder="Select Reporting to" [ngModelOptions]="{ standalone: true }">
        <nz-option
        *ngFor="let option of reportingTo"
        [nzValue]="option.userid"
        [nzLabel]="option.user_name"
      ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Status</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="status" nzCheckedChildren="Active" nzUnCheckedChildren="InActive"></nz-switch>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button [disabled]="isSubmit"  nz-button nzType="primary">{{btnName}}</button>
    </nz-form-control>
  </nz-form-item>
</form>
</nz-card>