<nz-page-header [nzGhost]="false">
  <nz-page-header-title>Change Password</nz-page-header-title>
</nz-page-header>
<nz-card class="ant-card-custom" [nzBordered]="false">
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">
 
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="oldPassword" nzRequired> Old Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Old Password!">
      <input nz-input type="password" id="oldPassword" formControlName="oldPassword" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newPassword" nzRequired>New Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your New Password!">
      <input nz-input type="password" id="newPassword" formControlName="newPassword" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>Confirm New Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Confirm New Password!">
      <input nz-input type="password" id="confirmPassword" formControlName="confirmPassword" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
</nz-card>