<nz-page-header  [nzGhost]="false">
  <nz-page-header-title>KYC List</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="dashed" routerLink="/client/kyc-create"> <i nz-icon nzType="plus-square" nzTheme="outline"></i> Add New</button>
  </nz-page-header-extra>
</nz-page-header>
<nz-table #basicTable [nzLoading]="loading" [nzData]="listOfData" [nzScroll]="{ y: '365px', x: '2000px' }">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Mobile No</th>
      <th>Email ID</th>
      <th>DOB</th>
      <th>Alternate No</th>
      <th>Annual Income</th>
      <th>Wedding Day</th>
      <th>PAN No</th>
      <th>Aadhar No</th>
      <th>Assigned To</th>
      <th>Sales Person</th>
      <th>Is Live</th>
      <th>Status</th>
      <th nzRight nzWidth="140px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td nzEllipsis>{{ data?.client_name }}</td>
      <td nzEllipsis>{{ data?.mobile_number }}</td>
      <td nzEllipsis>{{ data?.email }}</td>
      <td nzEllipsis>{{ data?.dob | date : "MMM d, yyyy" }}</td>
      <td nzEllipsis>{{ data?.alt_mobile }}</td>
      <td nzEllipsis>{{ data?.annual_income }}</td>
      <td nzEllipsis>{{ data?.wedding_day | date : "MMM d, yyyy" }}</td>
      <td nzEllipsis>{{ data?.pan_no }}</td>
      <td nzEllipsis>{{ data?.aadhar_no }}</td>
      <td nzEllipsis>{{ data?.assigned_to }}</td>
      <td nzEllipsis>{{ data?.sales_person }}</td>
      <td nzEllipsis>{{ data?.isLive }}</td>
      <td nzEllipsis> <nz-tag [nzColor]="'#87d068'">{{ data?.status == 'act' ? 'Active' : '' }}</nz-tag></td>
      <td nzRight>
        <a nz-tooltip nzTooltipTitle="Edit"><button [routerLink]="['/client/kyc-edit/', data.id, data.mobile_number]" nz-button nzSize="small" nzType="dashed"><i nz-icon nzType="edit" nzTheme="outline"></i></button></a>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nz-dropdown nzSize="small" nzType="primary" nzGhost [nzDropdownMenu]="menu4">
          More
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item><a  [routerLink]="['/client/investment-li-list/', data.id]" >Life Insurance</a></li>
            <li nz-menu-item> <a [routerLink]="['/client/investment-health-list/', data.id]" >Health</a></li>
            <li nz-menu-item><a [routerLink]="['/client/investment-others-list/', data.id]" >Others</a></li>
            <li nz-menu-item><a [routerLink]="['/client/service-list/', data.id]" >Service</a></li>
            <li nz-menu-item><a [routerLink]="['/client/relations-list/', data.id]" >Client Relations</a></li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  </tbody>
</nz-table>